/* css styles */
.gray {
  color: #999999; /*6c757d*/
}

/* @media (max-width: 768px){
  .quarto-sidebar {
    display: none !important;
  }
} */


/* .draft-badge {
  background-color: #ffcc00;
  color: black;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
} */



